kpi-automation-platform/workflows/calendar-sync.json
{
  "name": "Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Cron Trigger - Hourly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.DATABASE_API_URL}}/api/meetings?status=scheduled",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DATABASE_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Get Scheduled Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Loop Over Meetings",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.calendarEventId}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Check If Event Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "create",
        "calendarId": "={{$env.GOOGLE_CALENDAR_ID}}",
        "start": "={{$json.startTime}}",
        "end": "={{$json.endTime}}",
        "summary": "={{$json.title}}",
        "description": "=Meeting with {{$json.leadName}}\\n\\nTopic: {{$json.topic}}\\nType: {{$json.type}}\\n\\nMeeting Link: {{$json.meetingUrl || 'TBD'}}",
        "additionalFields": {
          "attendees": "={{$json.attendees.map(a => a.email).join(',')}}",
          "sendUpdates": "all",
          "timeZone": "Asia/Seoul"
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1130,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "calendarId": "={{$env.GOOGLE_CALENDAR_ID}}",
        "eventId": "={{$json.calendarEventId}}",
        "updateFields": {
          "start": "={{$json.startTime}}",
          "end": "={{$json.endTime}}",
          "summary": "={{$json.title}}",
          "description": "=Meeting with {{$json.leadName}}\\n\\nTopic: {{$json.topic}}\\nType: {{$json.type}}\\n\\nMeeting Link: {{$json.meetingUrl || 'TBD'}}",
          "attendees": "={{$json.attendees.map(a => a.email).join(',')}}",
          "sendUpdates": "all"
        }
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Update Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1130,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar API"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.DATABASE_API_URL}}/api/meetings/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DATABASE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "calendarEventId",
              "value": "={{$json.id}}"
            },
            {
              "name": "meetingUrl",
              "value": "={{$json.hangoutLink || $json.meetingUrl}}"
            },
            {
              "name": "syncedAt",
              "value": "={{$now.toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Update Meeting Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Loop Over Meetings\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Check If Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1570,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=✅ Calendar Sync Complete\\nMeetings Synced: {{$node[\"Get Scheduled Meetings\"].json.length}}\\nCompleted at: {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}"
            },
            {
              "name": "channel",
              "value": "#kpi-notifications"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1790,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retry logic for failed operations\nconst maxRetries = 3;\nconst currentRetry = $node[\"Error Handler\"].context.currentRetry || 0;\n\nif (currentRetry < maxRetries) {\n  // Wait and retry\n  await new Promise(resolve => setTimeout(resolve, 1000 * Math.pow(2, currentRetry)));\n  \n  return [{\n    json: {\n      ...items[0].json,\n      retryAttempt: currentRetry + 1\n    }\n  }];\n} else {\n  // Max retries reached, send to error handler\n  return [{\n    json: {\n      ...items[0].json,\n      error: 'Max retries reached',\n      maxRetriesReached: true\n    }\n  }];\n}"
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Error Handler - Retry Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=❌ Calendar Sync Error\\n\\n*Meeting:* {{$json.title}}\\n*Error:* {{$json.error.message}}\\n*Node:* {{$json.node.name}}\\n*Timestamp:* {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}"
            },
            {
              "name": "channel",
              "value": "#kpi-alerts"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1570,
        500
      ]
    }
  ],
  "connections": {
    "Cron Trigger - Hourly": {
      "main": [
        [
          {
            "node": "Get Scheduled Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scheduled Meetings": {
      "main": [
        [
          {
            "node": "Loop Over Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Meetings": {
      "main": [
        [
          {
            "node": "Check If Event Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Event Exists": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Update Meeting Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Calendar Event": {
      "main": [
        [
          {
            "node": "Update Meeting Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Meeting Record": {
      "main": [
        [
          {
            "node": "Check If Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Complete": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "5",
      "name": "calendar"
    },
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "6",
      "name": "sync"
    }
  ],
  "pinData": {},
  "versionId": "1",
  "triggerCount": 1,
  "active": false
}
