kpi-automation-platform/workflows/weekly-report.json
{
  "name": "Weekly Report Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Cron Trigger - Monday 9AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.DATABASE_API_URL}}/api/dashboard/weekly-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DATABASE_API_KEY}}"
            }
          ]
        },
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "startDate",
                "value": "={{$now.minus({ days: 7 }).toFormat('yyyy-MM-dd')}}"
              },
              {
                "name": "endDate",
                "value": "={{$now.toFormat('yyyy-MM-dd')}}"
              }
            ]
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Get Weekly Dashboard Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst formatCurrency = (amount) => {\n  return new Intl.NumberFormat('ko-KR', {\n    style: 'currency',\n    currency: 'KRW'\n  }).format(amount);\n};\n\nconst formatNumber = (num) => {\n  return new Intl.NumberFormat('ko-KR').format(num);\n};\n\nconst formatPercentage = (value) => {\n  const sign = value >= 0 ? '+' : '';\n  return `${sign}${value.toFixed(1)}%`;\n};\n\nconst getChangeIcon = (value) => {\n  if (value > 0) return '📈';\n  if (value < 0) return '📉';\n  return '➡️';\n};\n\n// Generate Business Lines Summary\nconst businessLinesSummary = data.businessLines.map(bl => `\n  <tr>\n    <td style=\"padding: 12px; border-bottom: 1px solid #eee;\">${bl.name}</td>\n    <td style=\"padding: 12px; border-bottom: 1px solid #eee; text-align: right;\">${formatCurrency(bl.revenue)}</td>\n    <td style=\"padding: 12px; border-bottom: 1px solid #eee; text-align: right;\">\n      <span style=\"color: ${bl.change >= 0 ? '#10b981' : '#ef4444'};\">\n        ${getChangeIcon(bl.change)} ${formatPercentage(bl.change)}\n      </span>\n    </td>\n  </tr>\n`).join('');\n\nconst htmlEmail = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Weekly KPI Report</title>\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; line-height: 1.6; color: #333; max-width: 800px; margin: 0 auto; padding: 20px;\">\n  \n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; border-radius: 10px 10px 0 0; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 32px; font-weight: 700;\">📊 Weekly KPI Report</h1>\n    <p style=\"margin: 10px 0 0 0; font-size: 18px; opacity: 0.9;\">\n      ${data.periodStart} ~ ${data.periodEnd}\n    </p>\n  </div>\n\n  <div style=\"background: white; padding: 30px; border: 1px solid #e5e7eb; border-top: none;\">\n    \n    <!-- Key Metrics -->\n    <h2 style=\"color: #1f2937; margin-top: 0; margin-bottom: 20px; font-size: 24px;\">📈 Key Metrics</h2>\n    \n    <div style=\"display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-bottom: 30px;\">\n      <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; border-left: 4px solid #10b981;\">\n        <div style=\"font-size: 14px; color: #6b7280; margin-bottom: 8px;\">Total Revenue</div>\n        <div style=\"font-size: 28px; font-weight: 700; color: #1f2937;\">${formatCurrency(data.metrics.totalRevenue)}</div>\n        <div style=\"font-size: 14px; color: ${data.metrics.revenueChange >= 0 ? '#10b981' : '#ef4444'}; margin-top: 4px;\">\n          ${getChangeIcon(data.metrics.revenueChange)} ${formatPercentage(data.metrics.revenueChange)} vs last week\n        </div>\n      </div>\n      \n      <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6;\">\n        <div style=\"font-size: 14px; color: #6b7280; margin-bottom: 8px;\">New Leads</div>\n        <div style=\"font-size: 28px; font-weight: 700; color: #1f2937;\">${formatNumber(data.metrics.newLeads)}</div>\n        <div style=\"font-size: 14px; color: ${data.metrics.leadsChange >= 0 ? '#10b981' : '#ef4444'}; margin-top: 4px;\">\n          ${getChangeIcon(data.metrics.leadsChange)} ${formatPercentage(data.metrics.leadsChange)} vs last week\n        </div>\n      </div>\n      \n      <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; border-left: 4px solid #f59e0b;\">\n        <div style=\"font-size: 14px; color: #6b7280; margin-bottom: 8px;\">Meetings Held</div>\n        <div style=\"font-size: 28px; font-weight: 700; color: #1f2937;\">${formatNumber(data.metrics.meetingsHeld)}</div>\n        <div style=\"font-size: 14px; color: ${data.metrics.meetingsChange >= 0 ? '#10b981' : '#ef4444'}; margin-top: 4px;\">\n          ${getChangeIcon(data.metrics.meetingsChange)} ${formatPercentage(data.metrics.meetingsChange)} vs last week\n        </div>\n      </div>\n      \n      <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; border-left: 4px solid #8b5cf6;\">\n        <div style=\"font-size: 14px; color: #6b7280; margin-bottom: 8px;\">Deals Closed</div>\n        <div style=\"font-size: 28px; font-weight: 700; color: #1f2937;\">${formatNumber(data.metrics.dealsClosed)}</div>\n        <div style=\"font-size: 14px; color: ${data.metrics.dealsChange >= 0 ? '#10b981' : '#ef4444'}; margin-top: 4px;\">\n          ${getChangeIcon(data.metrics.dealsChange)} ${formatPercentage(data.metrics.dealsChange)} vs last week\n        </div>\n      </div>\n    </div>\n\n    <!-- Business Lines -->\n    <h2 style=\"color: #1f2937; margin-bottom: 20px; font-size: 24px;\">💼 Revenue by Business Line</h2>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 30px;\">\n      <thead>\n        <tr style=\"background: #f9fafb;\">\n          <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #e5e7eb; color: #6b7280; font-weight: 600;\">Business Line</th>\n          <th style=\"padding: 12px; text-align: right; border-bottom: 2px solid #e5e7eb; color: #6b7280; font-weight: 600;\">Revenue</th>\n          <th style=\"padding: 12px; text-align: right; border-bottom: 2px solid #e5e7eb; color: #6b7280; font-weight: 600;\">Change</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${businessLinesSummary}\n      </tbody>\n    </table>\n\n    <!-- Top Performers -->\n    <h2 style=\"color: #1f2937; margin-bottom: 20px; font-size: 24px;\">🌟 Top Performers</h2>\n    \n    <div style=\"background: #fef3c7; padding: 20px; border-radius: 8px; border-left: 4px solid #f59e0b; margin-bottom: 30px;\">\n      <h3 style=\"margin: 0 0 15px 0; color: #92400e; font-size: 18px;\">🏆 Best Performing Campaign</h3>\n      <p style=\"margin: 0; color: #78350f;\">\n        <strong>${data.topPerformers.campaign.name}</strong><br>\n        Leads: ${formatNumber(data.topPerformers.campaign.leads)} | \n        Revenue: ${formatCurrency(data.topPerformers.campaign.revenue)}\n      </p>\n    </div>\n\n    <div style=\"background: #dbeafe; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6;\">\n      <h3 style=\"margin: 0 0 15px 0; color: #1e40af; font-size: 18px;\">👤 Top Sales Representative</h3>\n      <p style=\"margin: 0; color: #1e3a8a;\">\n        <strong>${data.topPerformers.salesRep.name}</strong><br>\n        Deals Closed: ${formatNumber(data.topPerformers.salesRep.deals)} | \n        Revenue: ${formatCurrency(data.topPerformers.salesRep.revenue)}\n      </p>\n    </div>\n\n    <!-- Footer -->\n    <div style=\"margin-top: 40px; padding-top: 20px; border-top: 2px solid #e5e7eb; text-align: center; color: #6b7280; font-size: 14px;\">\n      <p>📊 View full dashboard: <a href=\"${data.dashboardUrl}\" style=\"color: #667eea; text-decoration: none;\">KPI Dashboard</a></p>\n      <p style=\"margin: 10px 0 0 0;\">Generated by KPI Automation Platform | ${new Date().toLocaleString('ko-KR')}</p>\n    </div>\n\n  </div>\n\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: htmlEmail,\n    subject: `📊 Weekly KPI Report - ${data.periodStart} ~ ${data.periodEnd}`,\n    data: data\n  }\n}];"
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SENDGRID_FROM_EMAIL}}",
        "toEmail": "={{$env.REPORT_RECIPIENTS}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "message": "={{$json.html}}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Send Email via SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        910,
        300
      ],
      "credentials": {
        "sendGridApi": {
          "id": "1",
          "name": "SendGrid API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DATABASE_API_URL}}/api/reports/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DATABASE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "weekly_report"
            },
            {
              "name": "recipients",
              "value": "={{$env.REPORT_RECIPIENTS}}"
            },
            {
              "name": "periodStart",
              "value": "={{$node[\"Generate HTML Email\"].json.data.periodStart}}"
            },
            {
              "name": "periodEnd",
              "value": "={{$node[\"Generate HTML Email\"].json.data.periodEnd}}"
            },
            {
              "name": "sentAt",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "metrics",
              "value": "={{JSON.stringify($node[\"Generate HTML Email\"].json.data.metrics)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Log Report Delivery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=📧 Weekly Report Sent Successfully\\n\\n*Period:* {{$node[\"Generate HTML Email\"].json.data.periodStart}} ~ {{$node[\"Generate HTML Email\"].json.data.periodEnd}}\\n*Recipients:* {{$env.REPORT_RECIPIENTS}}\\n*Total Revenue:* {{new Intl.NumberFormat('ko-KR', {style: 'currency', currency: 'KRW'}).format($node[\"Generate HTML Email\"].json.data.metrics.totalRevenue)}}\\n*New Leads:* {{$node[\"Generate HTML Email\"].json.data.metrics.newLeads}}\\n\\nSent at: {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}"
            },
            {
              "name": "channel",
              "value": "#kpi-notifications"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=❌ Weekly Report Failed\\n\\n*Error:* {{$json.error.message}}\\n*Node:* {{$json.node.name}}\\n*Timestamp:* {{$now.toFormat('yyyy-MM-dd HH:mm:ss')}}\\n\\n<!channel> Please check the workflow immediately."
            },
            {
              "name": "channel",
              "value": "#kpi-alerts"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DATABASE_API_URL}}/api/reports/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DATABASE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "weekly_report"
            },
            {
              "name": "sentAt",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "error",
              "value": "={{$json.error.message}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Log Report Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        500
      ]
    }
  ],
  "connections": {
    "Cron Trigger - Monday 9AM": {
      "main": [
        [
          {
            "node": "Get Weekly Dashboard Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weekly Dashboard Data": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Email via SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via SendGrid": {
      "main": [
        [
          {
            "node": "Log Report Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Report Delivery": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "7",
      "name": "reporting"
    },
    {
      "createdAt": "2025-01-15T00:00:00.000Z",
      "updatedAt": "2025-01-15T00:00:00.000Z",
      "id": "8",
      "name": "weekly"
    }
  ],
  "pinData": {},
  "versionId": "1",
  "triggerCount": 1,
  "active": false
}
